* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gothic A1', sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: #ffffffe6;
	user-select: none;
}

#scoreboard {
	background-color: #0000005e;
	width: 800px;
	height: 600px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: auto;
	display: none;
}

#scoreboard table {
	width: 100%;
	border-collapse: collapse;
}

#scoreboard td, #scoreboard th {
	padding: 15px 20px;
	text-align: left;
}

#scoreboard_header {
	background-color: #00000086;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

#scoreboard td {
	padding: 10px 20px;
	text-align: left;
}

#voice_chats {
	position: absolute;
	left: 30px;
	bottom: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-bottom: 15px;
}

.voice_chat {
	background-color: #0000003d;
	position: relative;
	margin-top: 5px;
	padding: 10px 15px 10px 45px;
	font-size: 18px;
	font-weight: normal;
	background-image: url('./images/sound.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 15px 50%;
}

#notifications {
	position: absolute;
	left: 30px;
	width: 550px;
	top: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-top: 15px;
}

.notification {
	background-color: #0000003d;
	position: relative;
	margin-top: 5px;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: normal;
}

@font-face {
    font-family: PuristaLight;
    src: url(fonts/purista_light.otf);
}

@font-face {
    font-family: PuristaMedium;
    src: url(fonts/purista_medium.otf);
}

@font-face {
    font-family: PuristaBold;
    src: url(fonts/purista_bold.otf);
}

#weapon_hud_container {
    display: block;
    position: absolute;
    right: 3%;
    bottom: 6%;
    height: 15%;
    width: 22.25%;
    background-color: rgba(15, 15, 15, 0.0);
    transform: skewY(2deg);
    color: rgba(9,255,230,1);
}

#weapon_ammo_separator {
    position: absolute;
    font-family: PuristaLight;
    font-weight: bold;
    font-size: 1.75vw;
    text-align: right;
    vertical-align: top;
    right: 15%;
    top: 10%;
    color: rgba(150,255,230,0.85);
}

#weapon_ammo_bag {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    font-size: 1.15vw;
    text-align: right;
    vertical-align: top;
    letter-spacing: 2px;
    right: 0.5%;
    bottom: 68%;
    color: rgba(9,255,230,0.95);
    /*text-shadow: 0px 0px 2px rgba(50,255,227, 0.75);*/
}

#weapon_ammo_bag_greyed {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    font-size: 1.15vw;
    text-align: right;
    vertical-align: top;
    letter-spacing: 2px;
    right: 0.5%;
    bottom: 68%;
    color: rgba(198, 243, 222, 0.25);
    text-shadow: 0px 0px 2px rgba(198, 243, 222, 0.35);
}

#weapon_ammo_clip {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    font-size: 550%;
    font-size: 3vw;
    text-align: left;
    letter-spacing: 6px;
    bottom: 52%;
    right: 20%;
    color: rgba(9,255,230,1);
    /*text-shadow: 0px 0px 2px rgba(198, 243, 222, 0.75);*/
}

#weapon_ammo_clip_greyed {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    font-size: 550%;
    font-size: 3vw;
    text-align: left;
    letter-spacing: 6px;
    bottom: 52%;
    right: 20%;
    color: rgba(198, 243, 222, 0.25);
    text-shadow: 0px 0px 2px rgba(198, 243, 222, 0.35);
}

#primary_container {
    position: absolute;
    width: 27.5%;
    height: 35%;
    background-color: rgba(9,255,230,0.90);
    top: 60%;
    margin-top: 1%;
}

#secondary_container {
    position: absolute;
    width: 27.5%;
    height: 35%;
    background-color: rgba(9,255,230,0.65);
    top: 60%;
    left: 28%;
    margin-top: 1%;
}

#gadgets_container {
    position: absolute;
    width: 14.25%;
    height: 35%;
    background-color: rgba(9,255,230,0.65);
    top: 60%;
    left: 56%;
    margin-top: 1%;
}

#support_container {
    position: absolute;
    width: 14.25%;
    height: 35%;
    background-color: rgba(9,255,230,0.65);
    top: 60%;
    left: 70.75%;
    margin-top: 1%;
}

#grenade_container {
    position: absolute;
    width: 14.25%;
    height: 35%;
    background-color: rgba(9,255,230,0.65);
    top: 60%;
    left: 85.50%;
    margin-top: 1%;
}

#equipment_logo {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 67%;
    left: 7%;
}

#health_logo {
    position: absolute;
    font-family: PuristaBold;
    font-size: 1.7vw;
    color: rgb(70, 255, 96);
    top: 36%;
    left: 88%;
}

#health_bar {
    position: absolute;
    width: 100%;
    height: 5%;
    background-color: rgb(70, 255, 96);
    top: 57%;
}

#primary_ammo {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    letter-spacing: 0.1vw;
    font-size: 0.7vw;
    text-align: right;
    vertical-align: top;
    top: 85%;
    left: 22%;
    color: rgb(60, 60, 60)
}

#health_status {
    position: absolute;
    letter-spacing: 0.01vw;
    font-size: 0.8vw;
    text-align: right;
    vertical-align: top;
    top: 45%;
    left: 93%;
    color: rgb(70, 255, 96);
    font-family: PuristaBold;
}


#armor_container {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
    height: 3%;
    background: rgb(9, 13, 230);

    position: absolute;
	display: flex;
	top:440%;
	left: 190%;
	bottom: 100%;
	
  	
  	
}

#armor_current {
	font-size: 25px;
	color: rgb(4, 8, 224);
	font-weight: bold;
	text-shadow: -1px -1px 0 rgb(5, 20, 219), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	height: 400%;

	position: absolute;
	display: flex;
  	left: 50%;
  	bottom: 140%;
  	margin: 0 auto;

}




#match_status {
	text-align: center;
	width: 600px;
	margin: 0 auto;
	background-color: #00000061;
	color: white;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	height: 25px;
}

#scoreboard_rank {
	text-align: center;
	margin: 0 auto;
	color: white;
	font-weight: 700;
	display: flex;
	width: 600px;
	align-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: space-between;
}

.scoreboard_rank_entry {
	display: inline-block;
	width: 50px;
}

.scoreboard_rank_image {
	width: 100%;
	height: 50px;
	display: block;
	line-height: 55px;
	font-size: 20px;
	background-color: #0000003d;
}

.scoreboard_rank_score {
	display: block;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	background-color: #0000003d;
	margin-top: 1px;
}